body{
    color: #722941;
    background-color: #a3d5f1;
}

.Btn1{
    border-radius: 10px;
    background-color: #edc7b7;
    cursor: pointer;
    color: #123c69;
}

.dark-mode{
    background-color: #eee2dc;
    color: #722941;
}

.container{
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    margin-bottom: 5px;
}

.Header{
    width: 60%;
    display: inline;
    padding: 10px;
}

.title{
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0%;
    padding-bottom: 10px;
}

.logo{
    float: left;
    float: inline-start;
    margin-bottom: 0%;
    margin-top: 0%;
}

.FRT{
    font-size: 30px;
    color: #123c68;
}

.info{
    font-size: 18px;
}

.rightHeader{
    width: 40%;
    word-wrap: break-word;
    text-align: right;
    font-size: 14px;
    padding-right: 3%;
}

.name{
    margin-bottom: 0%;
    color: #123c68;
}

.navbar{
    overflow: hidden;
    display: flex;
    background-color: #edc7b7;
    color: #ac3b61;
    position: sticky;
    top: 0%;
    cursor: pointer;
}

.A{
    text-decoration: none;
    padding: 5px;
    text-align: left;
    margin: 5px;
    width: 100%;
}

.A a{
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #ac3b61;
    font-weight: bold;
    text-align: left;
}

.section1{
    padding-top: 5px;
    padding-left: 2%;
    display: flex;
    font-weight: bold;
}

.Heading2{
    width: 50%;
    display: block;
}

.small-text{
    margin: 5px;
    font-size: 200%;
    color: #123c68;
    text-align: left;
    text-decoration: underline;
    padding-left: 3%;
}

.rightPart{
    width: 50%;
    float: right;
}

#Products{
    text-align: left;
    padding-left: 3%;
    font-size: 30px;
}

#Products li{
    padding: 5px;
}

#Products li a{
    color: #ac3b61;
    font-size: 20px;
    text-decoration: none;
}

.subList{
    margin-top: 0%;
    font-size: 20px;
    color: #722941;
}

.subList a{
    font-size: 20px;
    color: #722941;
    padding-top: 10px;
}

#Logo{
    padding-bottom: 0%;
    border-radius: 5px;
}

#Logo2{
    border-radius: 17px;
}

.Heading3{
    margin: 0%;
    color: #123c68;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.container2{
    padding-top: 1px;
    padding-left: 4%;
    padding-right: 4%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 50px;
    grid-row-gap: 25px;
}

.container3{
    padding-top: 10px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 50px;
    grid-row-gap: 25px;
}

.t{
    margin: 0%;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.T li{
    list-style: none;
    padding: 5px;
}

.table{
    width: 100%;
    table-layout: fixed;
    text-align: left;
    border-collapse: collapse;
    background-color: #e9cabc;
    border: 1px solid black;
}

table th{
    border: 1px solid black;
}

table,td {
    border: 1px solid black;
}


table th{
    border: 1px solid black;
    border-collapse: collapse;
}

.Contactus a{
    padding: 10px;
}

.Contactus{
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

.Contact{
    margin: 0%;
    font-size: 25px;
    text-align: center;
    background-color: #edc7b7;
    color: #ac3b61;
    font-weight: bold;
    padding: 5px;
}

.hide{
    display: none;
    font-size: 20px;
}

.googleform:hover + .hide{
    display: block;
}

.footer{
    margin: 0%;
    padding: 5px;
    text-align: center;
    height: fit-content;
    background-color: #edc7b7;
}

footer a{ 
    padding-left: 5px;
    text-align: center;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: #ac3b61;
}

.body{
    overflow: hidden;
    background-color: #8a2be2;
    box-shadow: .4em.4em.5em;
}
.body{
    float: left;
    background-color: rgb(173, 153, 192);
}


@media only screen and (max-width: 650px) {
    .logo{
        display: none;
    }

    .title{
        font-size: 35px;
    }

    .FRT{
        font-size: 25px; 
    }

    .rightHeader .Btn1{
        width: 100px;
        height: 15px;
        font-size: x-small;
    }

    .rightHeader .name{
        font-size: 18px;
    }

    .rightHeader .info{
        font-size: 15px;
    }
    
    .navbar .A{
        height: 15px;
    }

    .Heading2{
        width: 100%;
    }

    .Heading2 .small-text{
        font-size: 25px;
    }

    .Heading2 #Products{
        font-size: 25px;
        margin-top: 0%;
    }

    .Heading2 .subList a{
        font-size: 12px;
        font-weight: normal;
        text-decoration: none;
    }

    .Why{
        display: none;
    }

    .Contact{
        height: 20px;
        font-size: 20px; 
    }

    .Contactus{
        height: 15px;
        font-size: 20px;
    }

    .footer{
        height: 15px;
    }

    .footer a{
        font-size: 15px;
    }
}

@media(max-width: 1104px) {
    .logo{
        width: 20%;
    }

    .title{
        font-size: 35px;}

    .FRT{
        font-size: 25px; 
    }

    .rightHeader .Btn1{
        width: 100px;
        height: 15px;
        font-size: x-small;
    }

    .rightHeader .name{
        font-size: 18px;
    }

    .rightHeader .info{
        font-size: 15px;
    }

    .navbar .A{
        height: 15px;
    }

    .Heading2{
        width: 50%;
    }

    .Heading2 .small-text{
        font-size: 25px;
    }

    .Heading2 #Products{
        font-size: 25px;
        margin-top: 0%;
    }

    .Heading2 .subList a{
        font-size: 12px;
        font-weight: normal;
        text-decoration: none;
    }


    .Contact{
        height: 20px;
        font-size: 20px; 
    }

    .Contactus{
        height: 15px;
        font-size: 20px;
    }

    .footer{
        height: 15px;
    }

    .footer a{
        font-size: 15px;
    }
}

@media (max-width: 560px){
    .logo{
        display: none;
    }

    .title{
        font-size: 35px;
    }

    .FRT{
        font-size: 25px; 
    }

    .rightHeader .Btn1{
        width: 100px;
        height: 15px;
        font-size: x-small;
    }

    .rightHeader .name{
        font-size: 18px;
    }

    .rightHeader .info{
        font-size: 15px;
    }
    
    .navbar .A{
        height: 15px;
    }

    .Heading2{
        width: 100%;
    }

    .Heading2 .small-text{
        font-size: 25px;
    }

    .Heading2 #Products{
        font-size: 25px;
        margin-top: 0%;
    }

    .Heading2 .subList a{
        font-size: 12px;
        font-weight: normal;
        text-decoration: none;
    }

    .Why{
        display: none;
    }

    .Contact{
        height: 20px;
        font-size: 20px; 
    }

    .Contactus{
        height: 15px;
        font-size: 20px;
    }

    .footer{
        height: 15px;
    }

    .footer a{
        font-size: 15px;
    }
}

@media (max-width: 400px){
    .logo{
        display: none;
    }

    .Header{
        padding: 0%;
        width: 50%;
    }

    .title{
        font-size: 25px;
    }

    .FRT{
        font-size: 18px; 
    }

    .rightHeader{
        width: 50%;
    }

    .rightHeader .Btn1{
        width: 100px;
        height: 15px;
        font-size: x-small;
    }

    .rightHeader .name{
        font-size: 15px;
    }

    .rightHeader .info{
        font-size: 12px;
    }
    
    .navbar{
        height: 25px;
        padding: 0%;
    }

    .A{
        font-size: 15px;
        padding: 0%;
    }

    .A a{
        font-size: 15px;
        padding: 0%;
        padding-right: 7px;
    }

    .Heading2{
        width: 100%;
    }

    .Heading2 .small-text{
        font-size: 20px;
    }

    .Heading2 #Products{
        font-size: 20px;
        margin-top: 0%;
    }

    .Heading2 #Products li a{
        font-size: 15px;
    }

    .rightPart{
        width: 0%;
    }

    .Why{
        display: none;
        width: 0%;
    }

    .Contact{
        height: 20px;
        font-size: 20px; 
    }

    .Contactus{
        height: 20px;
        font-size: 18px;
    }

    .footer{
        height: 20px;
    }

    .footer a{
        font-size: 10px;
    }
}
